@model TimeZona.Models.PRODUCTS
@{
    ViewBag.Title = "UrunForm";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper ">
    <div class="container">
        <h2>Ürünler Detay Form Sayfası</h2>
        @using (Html.BeginForm("Kaydet", "UrunlerDetay", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <table class="table table-bordered">
                <tr>
                    <td>
                        Foto
                    </td>
                    <td>
                        @if (Model.PHOTO != null)
                        {
                            <img src="~/Content/img/@Model.PHOTO" width="250" />
                        }
                        @Html.TextBoxFor(m => m.PHOTO, new { type = "file" })
                    </td>
                </tr>
                <tr>
                    <td>
                        İsim
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.NAME, new { @class = "form-controller" })
                        @Html.ValidationMessageFor(m => m.NAME)
                    </td>
                </tr>
                <tr>
                    <td>
                        Fiyat
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.PRICE , new { @class = "form-controller" })
                        @Html.ValidationMessageFor(m => m.PRICE)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.HiddenFor(m => m.PHOTO)
                        @Html.HiddenFor(m => m.ID)
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        }

    </div>

</div>


